@font-face {
  font-family: "ChosunGu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "ChosunGu";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: rgb(202, 238, 201); */
  background-image: url("C:\bizworks\React\react-address-v2\src\img\diary.png");
  min-height: 27vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input_box {
  width: 600px;
  height: 350px;
  margin: 30px auto;
  padding: 15px;
}

.input_box input {
  display: block;
  width: 70%;
  height: 13%;
  margin: 20px auto;
  padding: 15px;
  font-size: 17px;
  border: 1px solid lightgray;
  border-radius: 20px;
  outline: none;
}

.input_box input:focus {
  border: 2px solid lightpink;
}

button {
  width: 30%;
  height: 15%;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

table {
  width: 1200px;
  margin: 20px auto;
  border: 1px solid #ddd;
}

table tr {
  height: 50px;
}

table th {
  font-size: 20px;
}

table td {
  font-size: 17px;
}
